[
  {notes_server, [
                    {paths_list,[
                                  {"/",api_handler,[]}
                                ]},
                    {transport_options,[
                                        {port,8080}
                                      ]},
                    {client_accepters_count, 100}
                  ]}
].
